;
; mqtt_lcd_clock_pub.conf - for supervisord configuration file
;
; install
;     $ pwd
;       (check your scrpt path...)
;     $ sudo cp mqtt_lcd_clock_pub.conf.sample /etc/supervisor/conf.d/mqtt_lcd_clock_pub.conf
;     $ sudo vi /etc/supervisor/conf.d/mqtt_lcd_clock_pub.conf
;       (fix path, etc...)
;     $ sudo supervisorctl reread
;     $ sudo supervisorctl add mqtt_lcd_clock_pub
;     $ sudo supervisorctl status
;     mqtt_lcd_clock_pub                  RUNNING    pid 8192, uptime 0:00:30
;
; see also
;     Supervisor: A Process Control System
;     http://supervisord.org/
;
[program:mqtt_lcd_clock_pub]
command         = /usr/bin/ruby /home/pi/work/mqtt_lcd_display_test/mqtt_lcd_clock_pub.rb 
directory       = /home/pi/work/mqtt_lcd_display_test/
numprocs        = 1
autostart       = true
autorestart     = true
user            = pi
environment     = HOME=/home/yoggy/
redirect_stderr = true
startsecs       = 5
startretries    = 10
